extends ../layouts/default

block content
	.container: .jumbotron
		h1 Welcome
		if user && user.canAccessKeystone
			p Please: <a href='/keystone' class="btn btn-lg btn-primary">Open the Admin UI</a><a href='/reports' class="btn btn-lg btn-primary">Get a Project Report</a>
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
